@import "variables";
@import "basicProps";

@each $key, $color in $colors {
  .btn-#{$key} {
    @include btn($color);
  }
}
.badge-primary {
  @include badge(map-get($colors, "primary"));
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fit{
    width: fit-content;
}
